<div class="row top-nav">
</div>

<div class="row content-row">
  <div class="large-1 small-1 columns left-sidebar"><p></p></div>
  <div class="large-8 small-8 columns sandbox">

  </div>
  <div class="large-3 small-3 columns right-sidebar"><p></p></div>
</div>

<div class="row footer">
</div>