

<div class="row top-nav">
</div>

<div class="row content-row">
  <div class="large-1 small-1 columns left-sidebar"><p></p></div>
  <div class="large-8 small-8 columns sandbox">
  	<canvas id="myCanvas"></canvas>
  </div>
  <div class="large-3 small-3 columns right-sidebar"><p></p>
  	<ul>
  		<li id="triangle">TRIANGLE</li>
  		<li id="square">SQUARE</li>
  		<li id="rectangle">RECTANGLE</li>
  		<li id="circle">CIRCLE</li>
  		<!-- <li id="clear_canvas">CLEAR CANVAS</li> -->
  	</ul>
  </div>
</div>

<div class="row footer">
</div>